---
layout: default
---
<meta property="og:url" content="https://laerdream.github.io" />
<meta property="og:title" content="Laerdream 블로그" />
<meta property="og:image" content="assets/imgs/ogimage.png" />
<meta property="og:description" content="은하수를 여행하는 개발자되기" />
<meta property="og:type" content="article" />

<div class="wrapper">
    <div class="home content">
        <ul class="post-list">
          {%- for post in site.posts -%}
          <li>
              <a class="post-link" href="{{ post.url | relative_url }}">
                  <div class="post-cover" style="background-image: url('{{ post.cover | escape }}')"></div>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                  <h4>
                    {%- for tag in post.tags -%}
                    <a href="/tag/{{tag}}">
                      <span class="tag">
                      # {{ tag }}
                      </span>
                    </a>
                    {%- endfor -%}
                  </h4>
                  <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                    </a>
                  </h3>
              </a>
          </li>
          {%- endfor -%}
        </ul>
    </div>
</div>